/********************************* Mini reset CSS y ajuste de caja a borde **********************************/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/******************************* ESTILOS REPETIDOS EN TODAS LAS PÁGINAS ************************************/

header {
    background-color: #216288;
    width: 100%;
    height: 190px;
    overflow: hidden;
}

img {
    height: 135px;
    margin: 15px 0 0 15%;
    float: left;
}

.titular {
    width: 45%;
    height: 100%;
    margin-left: 4%;
    text-align: right;
    float: left;
}

h1 {
    color: white;
    margin-top: 8%;
    margin-bottom: 20px;
}

.titular strong {
    font-size: 1.3em;
}

nav {
    width: 100%;
    height: 70px;
    background-color: #b8d414;
    text-align: center;
}

nav ul,
nav li,
nav a {
    display: inline-block;
}

nav li {
    list-style: none;
}

nav a {
    margin: 25px 15px 0;
    color: black;
    font-weight: bold;
    font-size: 1.05em;
    text-decoration: none;
}

nav ul li:first-of-type a {
    text-decoration: underline;
}

nav a:hover {
    color: #216288;
    transition: 0.4s;
}

footer {
    width: 100%;
    height: 200px;
    background-color: black;
    color: white;
}

footer p {
    width: 80%;
    margin-left: 20%;
    padding-top: 20px;
}


/***************************************** PÁGINA DE INICIO ********************************************/

.video {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.video h2 {
    margin: 40px 0 25px;
    text-align: center;
}

.video p {
    width: 45%;
    margin: 15px 50px 0 7%;
    float: left;
    text-align: justify;
    font-size: 1.1em;
}

.video video {
    height: 200px;
    clear: left;
}

.realiza {
    width: 100%;
    height: 300px;
    margin-top: 60px;
    background-color: #e5fed4;
    overflow: hidden;
}

.donde {
    width: 30%;
    margin: 20px 70px 10px 20%;
    float: left;
}

.donde a {
    color: grey;
}

.donde :first-of-type a{
    text-decoration: none;
    color: black;
}

.donde a:hover {
    color: #216288;
    transition: 0.4s;
}

address {
    font-style: normal;
}

.fa-twitter, .fa-facebook-f {
    color: black;
}

.fa-twitter {
    width: 20px;
}

.fa-facebook-f {
    width: 12px;
}

.fa-facebook-f:hover {
    width: 15px;
}

.fa-twitter:hover {
    width: 25px;
}

.fa-twitter:hover,
.fa-facebook-f:hover {
    color: #216288;
    transition: 0.4s;
}

.cuando {
    width: 30%;
    margin-top: 20px;
    float: left;
}

.cuando h2,
.donde h2 {
    width: 95%;
    padding-left: 0;
    border-bottom: 3px dotted #b8d414;
}

.cuando em {
    font-style: normal;
}

.cuando p:last-of-type {
    text-align: justify;
    font-size: 1.2em;
}

.cuando p strong a {
    color: grey
}

.eventos {
    width: 920px;
    height: 430px;
    margin: 40px auto 20px auto;
    overflow: hidden;
}

.eventos h2 {
    padding-right: 50px;
    text-align: center;
}

.eventos img {
    width: 220px;
    height: 120px;
    margin: 5px 15px 5px;
}

.eventos p {
    width: 260px;
    margin: 10px 10px 10px 30px;
    font-size: 0.85em;
    text-align: center;
    float: left;
}


/*********************************** PÁGINA DE LA PROGRAMACIÓN *******************************************/

.tabla-sec {
    width: 100%;
    height: 350px;
}

.tabla-sec h2 {
    margin-top: 55px;
    margin-bottom: 25px;
    text-align: center;
}

table {
    margin-left: auto;
    margin-right: auto;
}

table thead th {
    background-color: black;
    color: white;
    font-weight: lighter;
}

tbody tr th {
    background-color: #b8d414;
    text-align: left;
}

tbody tr:nth-of-type(odd) {
    background-color: #cae9ab;
}

table tr th:first-child, table tr th:nth-child(4), table tr th:nth-child(5) {
    width: 100px;
}

table tr th:nth-child(2) {
    width: 570px;
}

table tr th:nth-child(3) {
    width: 130px;
}

.subrayado {
    border-bottom: 2px solid black;
}

.fa-clock, .fa-map-marker-alt{
    margin-right: 4px;
}

.fa-clock {
    width: 16px;
}

.fa-map-marker-alt {
    width: 14px;
}

tfoot {
    text-align: center;
}

tfoot a {
    color: gray;
}

tfoot a:hover {
    color: #216288;
    transition: 0.4s;
}

.programacion {
    width: 100%;
    height: 350px;
    overflow: hidden;
    background-color: #e5fed4;
}

.programacion h2 {
    padding-left: 6%;
    font-size: 2em;
}

.dia1,
.dia2 {
    width: 350px;
    margin-top: 30px;
    float: left;
}

.dia1 {
    margin-left: 14%;
    margin-right: 30px;
}

.dia1 h2,
.dia2 h2 {
    display: inline-block;
    padding: 0;
    margin-left: 9px;
    margin-bottom: 15px;
    background-color: #bdfc80;
}

.dia1 li,
.dia2 li {
    list-style: none;
    padding: 10px;
}


/**************************************** PÁGINA DEL FORMULARIO *****************************************/

form h2 {
    text-align: center;
    margin: 40px 0 25px;
}

fieldset {
    width: 60%;
    padding: 20px;
    margin: 0 auto 25px auto;
    background-color: #cae9ab;
    box-shadow: 3px 3px 6px #216288;
}

legend {
    border: 3px solid #216288;
    border-radius: 4px;
    padding: 5px;
    background-color: #b8d414;
    font-weight: bold;
}

label {
    display: inline-block;
    width: 200px;
    margin-left: 10%;
}

label span {
    font-size: 0.8em;
}

input,
select,
textarea {
    width: 250px;
    margin-bottom: 10px;
    vertical-align: top;
}

input:required:invalid {
    background-color: rgba(230, 106, 106);
}

input:required:valid {
    background-color: rgb(132, 216, 132);
}

input:focus,
textarea:focus {
    font-weight: bold;
    color: #216288;
}

fieldset p {
    width: 495px;
    margin: 0 auto 10px auto;
    font-size: 0.65em;
}

.condiciones {
    width: 100%;
    margin-top: 20px;
}

.condiciones input {
    width: 15px;
    margin-top: 5px;
}

button {
    display: block;
    padding: 10px 25px;
    background-color: #b8d414;
    margin: 20px auto 40px auto;
    border: 2px solid #216288;
    border-radius: 4px;
    box-shadow: 1px 1px 3px #216288;
    font-size: 1.1em;
    font-weight: bold;
}

button:hover {
    cursor: pointer;
    box-shadow: 3px 3px 3px #b8d414;
    transition: 0.4s;
}